body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:110%;
  background-color:#FCF7F8;
}

header {
  text-align: center;
  background-color: #343330;
  color: #FCF7F8;

}
#menu {background-color:teal;
width:fit-content;color: honeydew;}

#education {background-color: silver;}
#experiences { background-color: teal;}
#skillss { background-color:silver;}
.icons {width: 3rem}
footer {
  background-color: #343330;
  text-align: center; color: honeydew;
}
