body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:110%;
  background-color:silver;
  
}

header {
  text-align: center;
  background-color: #343330;
  color: #FCF7F8;
   ;

}
#menu {background-color: teal;
width:180px;
height: 100% ;
color:black;
border: #343330 solid 3px ;
margin-left: 2% ;}

#headshot { width: 15%;
height:5%;
border:teal solid 5px;
border-radius: 50%;}

#education2 {background-color: silver;
margin-left: 2% ;
;}

#experiences { background-color: teal;
  margin-left: 2%;
  }

#skillss { background-color:silver;
  margin-left: 2%;
  }

.icons {width: 3rem;
margin: 1rem;}

.main{
  display: flex;
  flex-direction: row;
}
footer {
  background-color: #343330;
  text-align: center; 
  color: honeydew;
  
}
